h1{
    color: black;
    font-family:monospace;
    font-size: 450%;
    font-weight: bold;
    text-align: center;
    background-color:palevioletred;

}

body{
    background-color: palegoldenrod;
}
#Navigation{
    text-align: right;
}
.zero{
    text-align: left;

}
.home{
    scroll-padding-top: 40px;
}
h2{
    background-color: palevioletred;
}
div .visho{
    color:black;
    font-family:sans-serif;
    font-weight: bold;
    font-size:700%;
    line-height:20%;
}

h4,h5{
    font-size: 200%;
}
#my{
    text-align: right;
    float:right;
    line-height: 200%;

}


our work{
    background-color:papayawhip;
}
h2{
    background-color:grey;
    font-weight: bold;
    font-size: 300%;
}
footer{
    font-style: italic;
    font-size:200%;
    font-weight:bolder;
    color: black;
    text-align:center;
    top: 1200px;

}
ol{
    font-size: 150%;
    font-weight: bold;
    color: black;

}
.uk{
    text-align: center;
    top:700px;
    right:700px;  
    position: absolute;
}
.West{
    text-align:right;
    top:700px;
    right:300px;
    position: absolute;
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: red;
  font-size: 20px;
  padding: 10px 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: bottom right;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#contact{
    height:-0.5px;
    width:0.2%;
    padding:left ;
    
}